.tag-input {
  border-radius: 0.5rem;
  border: 1px solid rgb(222, 228, 231);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
}

.tag-input__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
}

.tag-input__badge {
  gap: 0.25rem;
  border-radius: var(--radius-md);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  font-weight: 400;
}

.tag-input__field {
  margin-top: 0.25rem;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.tag-input__field:focus-visible {
  box-shadow: none;
  outline: none;
}
